﻿.forte-segment-input-UI {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right,rgba(87,157,172,.3), rgba(87,157,172,0));
    border: solid;
    border-width: .1em;
    width: 50%;
}

ul.fancytree-container {
	background:transparent;
}
.forte-control {
    width: 100%
}

.forte-control * {
color: black;
font-family: Arial, Helvetica, sans-serif;
}

span.forte-segment > .fancytree-title {
    margin-bottom: 0em;
    font-weight: bold;
}

span.forte-child-segment > .fancytree-title {
    margin-bottom: 0em;
    font-weight: bold;
}

span.forte-variable-display-value > .fancytree-title {
    color: gray;
    margin-left: -1em;
}

span.forte-variable-control-wrapper {
    margin-top: 0;
    margin-left: -1em;
    margin-bottom: 0.5em;
}

ul.forte-variables {
    list-style: none;
    margin-left: 0em;
    padding-left: 1.2em;
    text-indent: -1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

